<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>Mantenimiento de Productos</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<section>
		<div class="container-fluid p-4 mt-3">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-sh">
						<div class="card-header text-center fs-4 bg-warning">
							MANTENIMIENTO DE PRODUCTOS
							<!-- Bloque de mensajes de error -->
							<th:block th:if="${session.successMsg}">
								<p class="text-success fs-6 fw-bold" th:text="${session.successMsg}"></p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fs-6 fw-bold" th:text="${session.errorMsg}"></p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<!-- Fin del bloque de mensajes -->
						</div>

						<div class="card-body">
							<form th:action="@{/admin/saveProduct}" th:object="${producto}" method="post"
								enctype="multipart/form-data">
								<div class="mb-3">
									<label>Digite el Titulo</label>
									<input type="text" th:field="*{nombre}" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Digite la Descripción</label>
									<textarea rows="3" th:field="*{descripcion}" class="form-control"
										required></textarea>
								</div>
								<div class="mb-3">
									<label>Categoria</label>
									<select class="form-control" th:field="*{categoria}" required>
										<option value="">---select---</option>
										<option th:each="cat : ${categorias}" th:value="${cat.nombre}"
											th:text="${cat.nombre}"></option>
									</select>
								</div>
								<div class="mb-3">
									<label>Digite el Precio</label>
									<input type="text" th:field="*{precio}" class="form-control" required>
								</div>
								<div class="row">
									<div class="mb-3 col-md-12">
										<label>Stock</label>
										<input type="text" th:field="*{stock}" class="form-control" required>
									</div>
									<div class="mb-3 col-md-12">
										<label>Cargue la Imagen</label>
										<input type="file" name="file" class="form-control">
									</div>
								</div>
								<button type="submit" class="btn btn-warning col-md-6 offset-md-3">Cargar</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card card-sh">
						<div class="card-header text-center fs-4 card-header-custom bg-warning">Productos</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="table-container">
										<table class="table table-striped">
											<thead>
												<tr>
													<th scope="col">Nro.C.</th>
													<th scope="col">Nombre</th>
													<th scope="col">Descripcion</th>
													<th scope="col">Categoria</th>
													<th scope="col">Precio</th>
													<th scope="col">Stock</th>
													<th scope="col">Imagen</th>
													<th scope="col">Acción</th>
												</tr>
											</thead>
											<tbody>
												<!-- Iterar sobre productos -->
												<tr th:each="prod, c : ${productos}">
													<th scope="row">[[${paginaProductos.number * paginaProductos.size + c.index + 1}]]</th>
													<td>[[${prod.nombre}]]</td>
													<td>[[${prod.descripcion}]]</td>
													<td>[[${prod.categoria}]]</td>
													<td>[[${prod.precio}]]</td>
													<td>[[${prod.stock}]]</td>
													<td><img th:src="@{'/img/product_img/' + ${prod.image}}"
															width="50px" height="50px"></td>
													<td>
														<a th:href="@{'/admin/loadEditProduct/' + ${prod.id}}"><i
																class="fa-regular fa-pen-to-square text-primary fa-2x"></i></a>
														<a th:href="@{'/admin/deleteProduct/' + ${prod.id}}"><i
																class="fa-solid fa-trash text-danger fa-2x"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
										<div>
										    <ul class="pagination">
										        <li th:each="i : ${#numbers.sequence(0, paginaProductos.totalPages - 1)}"
										            th:classappend="${paginaProductos.number == i} ? 'active'">
										            <a th:href="@{/admin/addproducto(page=${i}, size=${paginaProductos.size})}" th:text="${i + 1}"></a>
										        </li>
										    </ul>
										</div>
									</div>  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>