<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="container-fluid p-4 mt-3">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<div class="card card-sh">
						<div class="card-header text-center fs-3 card-header-custom"><!-- cabecera -->
							<p>Editar Usuario</p>
							<!-- bloque de mensajes de error -->
							<th:block th:if="${session.successMsg}">
						        <p class="text-success fs-6 fw-bold" th:text="${session.successMsg}"></p>
						        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						    </th:block>
						    <th:block th:if="${session.errorMsg}">
						        <p class="text-danger fs-6 fw-bold" th:text="${session.errorMsg}"></p>
						        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>					        
						    </th:block>    
							<!-- fin del bloque de mensajes --> 
						</div>
						
						<div class="card-body"><!-- cuerpo -->
							<!-- inicio formulario -->
							<form th:action="@{/admin/updateUsuario/{id}(id=${usuario.idusuario})}" method="post" enctype="multipart/form-data">
							    <input type="hidden" name="_method" value="put"/> <!-- Add this hidden field -->
							    <div class="mb-3">
							        <label>Digite Nombre</label>
							        <input type="text" name="nombre" class="form-control" th:value="${usuario.nombre}">
							    </div>
							    <div class="mb-3">
							        <label>Digite Celular</label>
							        <input type="text" name="celular" class="form-control" th:value="${usuario.celular}">
							    </div>
							    <div class="mb-3">
							        <label>Digite Email</label>
							        <input type="text" name="email" class="form-control" th:value="${usuario.email}">
							    </div>
							    <div class="mb-3">
							        <label>Digite Password</label>
							        <input type="text" name="password" class="form-control" th:value="${usuario.password}">
							    </div>
							    <button class="btn btn-success col-md-6 offset-md-3 mt-2">ACTUALIZAR</button>
							</form>

						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>



</body>
</html>